# Git
.git
.gitignore
.github

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Tests (only for production, not for test)
# Uncomment these lines when building the production image
# tests
# jest.config.js
# coverage
# *.test.js

# Docker
Dockerfile
Dockerfile.test
docker-compose.yml
compose.yml
.dockerignore

# Misc
.DS_Store
*.md
LICENSE
.vscode